NET "led[0]" LOC = R1;
NET "led[1]" LOC = P2;
NET "led[2]" LOC = P1;
NET "led[3]" LOC = N2;
NET "led[4]" LOC = M1;
NET "led[5]" LOC = M2;
NET "led[6]" LOC = L1;
NET "led[7]" LOC = J2;
NET "led[8]" LOC = G1;
NET "led[9]" LOC = E1;
NET "led[10]" LOC = D2;
NET "led[11]" LOC = A1;
NET "led[12]" LOC = L3;
NET "led[13]" LOC = G3;
NET "led[14]" LOC = K4;
NET "led[15]" LOC = G4;
NET "led[16]" LOC = K1;
NET "led[17]" LOC = J1;
NET "led[18]" LOC = H2;
NET "led[19]" LOC = G2;
NET "led[20]" LOC = F1;
NET "led[21]" LOC = E2;
NET "led[22]" LOC = D1;
NET "led[23]" LOC = B1;
NET "led[24]" LOC = B2;
NET "led[25]" LOC = N3;
NET "led[26]" LOC = M3;
NET "led[27]" LOC = K3;
NET "led[28]" LOC = H3;
NET "led[29]" LOC = N4;
NET "led[30]" LOC = L4;
NET "led[31]" LOC = J4;
NET "clk" LOC = V8;
NET "seg[7]" LOC = H19;
NET "seg[6]" LOC = G20;
NET "seg[5]" LOC = J22;
NET "seg[4]" LOC = K22;
NET "seg[3]" LOC = K21;
NET "seg[2]" LOC = H20;
NET "seg[1]" LOC = H22;
NET "seg[0]" LOC = J21;
NET "which[0]" LOC = N22;
NET "which[1]" LOC = M21;
NET "which[2]" LOC = M22;
NET "enable" LOC = L21;
NET "clk_100MHz" LOC = H4;

NET "led[0]" IOSTANDARD = LVCMOS18;
NET "led[1]" IOSTANDARD = LVCMOS18;
NET "led[2]" IOSTANDARD = LVCMOS18;
NET "led[3]" IOSTANDARD = LVCMOS18;
NET "led[4]" IOSTANDARD = LVCMOS18;
NET "led[5]" IOSTANDARD = LVCMOS18;
NET "led[6]" IOSTANDARD = LVCMOS18;
NET "led[7]" IOSTANDARD = LVCMOS18;
NET "led[8]" IOSTANDARD = LVCMOS18;
NET "led[9]" IOSTANDARD = LVCMOS18;
NET "led[10]" IOSTANDARD = LVCMOS18;
NET "led[11]" IOSTANDARD = LVCMOS18;
NET "led[12]" IOSTANDARD = LVCMOS18;
NET "led[13]" IOSTANDARD = LVCMOS18;
NET "led[14]" IOSTANDARD = LVCMOS18;
NET "led[15]" IOSTANDARD = LVCMOS18;
NET "led[16]" IOSTANDARD = LVCMOS18;
NET "led[17]" IOSTANDARD = LVCMOS18;
NET "led[18]" IOSTANDARD = LVCMOS18;
NET "led[19]" IOSTANDARD = LVCMOS18;
NET "led[20]" IOSTANDARD = LVCMOS18;
NET "led[21]" IOSTANDARD = LVCMOS18;
NET "led[22]" IOSTANDARD = LVCMOS18;
NET "led[23]" IOSTANDARD = LVCMOS18;
NET "led[24]" IOSTANDARD = LVCMOS18;
NET "led[25]" IOSTANDARD = LVCMOS18;
NET "led[26]" IOSTANDARD = LVCMOS18;
NET "led[27]" IOSTANDARD = LVCMOS18;
NET "led[28]" IOSTANDARD = LVCMOS18;
NET "led[29]" IOSTANDARD = LVCMOS18;
NET "led[30]" IOSTANDARD = LVCMOS18;
NET "led[31]" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "seg[7]" IOSTANDARD = LVCMOS18;
NET "seg[6]" IOSTANDARD = LVCMOS18;
NET "seg[5]" IOSTANDARD = LVCMOS18;
NET "seg[4]" IOSTANDARD = LVCMOS18;
NET "seg[3]" IOSTANDARD = LVCMOS18;
NET "seg[2]" IOSTANDARD = LVCMOS18;
NET "seg[1]" IOSTANDARD = LVCMOS18;
NET "seg[0]" IOSTANDARD = LVCMOS18;
NET "which[0]" IOSTANDARD = LVCMOS18;
NET "which[1]" IOSTANDARD = LVCMOS18;
NET "which[2]" IOSTANDARD = LVCMOS18;
NET "enable" IOSTANDARD = LVCMOS18;
NET "clk_100MHz" IOSTANDARD = LVCMOS18;
